footer {
  background-color: $color-accent-bg !important;
  cite {
    font-size: 18px !important;
  }
  .footer__info ul li {
    color: $color-black;
    text-align: end;
  }
}

// Media requests

@media (width <= 768px) {
  footer .footer__info ul li {
    text-align: left;
  }
}
