// Colors
$color-black: #000;
$color-white: #fff;
$color-accent-bg: #e7f1dd;
$color-accent-text: #a1b414;
$color-accent: #b1c900;
$color-accent--hover: #a1b414;
$color-accent-second: #a1b414;
$color-accent-text-light: #e1ff00;
// Fz
$fz-section-title: clamp(1.625rem, 1.314rem + 1.55vw, 2.625rem);
// Margins
$margin-bottom-section: 35px;
